.contact {
  position: relative;
  height: 100vh;
  color: $font_color;

  &-background {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .25;
    z-index: -1;
  }

  &-decorative-img {
    width: 250px;
  }

  &-form {

    .input-box {
      width: 48%;
    }

    &-input {
      border-bottom: 2px solid $font_color;
      resize: none;
      padding: .5rem;
      background-color: rgba(#fff, 0);
    }
  }
}