.donation-summary-date {
  min-width: 600px;
}

.donation-summary-info {
  font-weight: bold;
}

.donation-summary-box {
  display: flex;
  align-items: center;

  .donation-summary-icons {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }

  p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
  }
}

.form-summary-address-box {
  display: flex;
  flex-direction: column;
  max-width: 50%;

  .donation-details-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    p {
      margin-right: 1.375rem;
    }
  }

  .courier-message-box {
    height: 150px;
    overflow: auto;
  }
}

.donation-thanks-box {
  min-width: 800px;
  height: 100%;
  padding-right: 30%;

  h4 {
    width: 600px;
    text-align: center;
  }

  .donation-thanks-decoration {
    width: 256px;
  }
}
