.btn {
  padding: .5rem;
  border: 1px solid white;
  border-radius: 4px;
}

.login {
  color: $secondary_color;

  &:hover {
    border-color: $accent_color;
    background-color: rgba($accent_color, 0.1);
    transition: 0.75s;
  }
}

.navigational {
  padding: 0.5rem 1rem;

  &:hover {
    border-color: $font_color;
    background-color: rgba($accent_color, 0.1);
    transition: 0.75s;
  }
}

.btn-hero {
  width: 260px;
  height: 98px;
  font-size: 1.625rem;
  font-weight: 300;
  border-color: $font_color;

  &:hover {
    background-color: rgba($accent_color, 0.1);
    transition: .75s;
  }
}



